asgiref==3.8.1
certifi==2025.1.31
channels==4.2.2
charset-normalizer==3.4.1
dj-database-url==2.3.0
Django==5.1.6
django-appconf==1.1.0
django-axes==7.0.2
django-compressor==4.5.1
django-extensions==4.1
django-otp==1.6.0
django-pwa==2.0.1
django-requests==0.0.2
idna==3.10
pillow==10.4.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
rcssmin==1.1.2
requests==2.32.3
rjsmin==1.2.2
sentry-sdk==2.25.1
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
whitenoise==6.9.0
