/* Стили для контейнера карточек услуг */
.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд */
    gap: 20px; /* Отступ между карточками */
}

.card {
    background-color: var(--background-color);
    padding: 25px;
    border-radius: 10px;
    box-shadow: var(--shadow-sm);
    text-align: center;
    transition: var(--button-hover-effect);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-lg);
}

.card h3 {
    font-size: var(--font-size-xl);
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--neutral-100);
}

.card p {
    font-size: var(--font-size-md);
    color: var(--text-color);
}